body {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  }

  h1 {  
    padding: 1vw ;
    font-size: 2vw;
    font-weight: 700;
    color: rgba(90, 90, 88, 0.9);
    letter-spacing: 0.2vw;
    text-align: center;
    margin-bottom: 1vw;
    border-radius: 0vw;
    box-shadow: 0 0 0px 0.2px rgba(31, 150, 180, 0.8);
    transition: 0.3s;
  }
  
  h1:hover {
    background-color: rgba(23, 132, 160, 0.8);
    color: rgb(240, 236, 231);
    transition-delay: 0.1s;
  }
  

.accordion {
  max-width: 100%;
  box-shadow: 0 10 10px rgba(160, 28, 28, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,193,233,1) 100%);
}

.accordion__label,
.accordion__content {
  padding:  2.5vw;
  border-bottom: 1px solid rgba(31, 150, 180, 0.8);
}

.accordion__label h2 {
  font-family: 'Roboto', sans-serif;
  padding: 0.5vw ;
  font-size: 1.5vw;
  color: rgba(56, 56, 40, 0.9);
  letter-spacing: 0.3vw;
  text-align: left;
  transition: 0.3s;
}

.accordion__label h2:hover {
color: rgb(227, 218, 222);
}

input:checked~.accordion__label{
  transition: all 0.5s ease-out;
}


input:checked~.accordion__label img {
  height: 80vw;
  padding: 1em;
}

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
  transition: margin-right 4s;
}

.accordion__content p img {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: 1s;
}

.accordion__content p img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

@media (hover: hover) {

   .accordion__label h2 {
    color: rgb(227, 218, 222);
  }

  h1:hover {
    background-color: rgba(23, 132, 160, 0.8);
  }
}

@media only screen and (min-width: 820px) {

  h1 {
    font-size: 2.1em;
    letter-spacing: normal;
    line-height: 2.4;
  }
 
  h2 {
    font-size: 2.0em;
    line-height: 1.4;
  }

}
@media only screen and (min-width: 450px) {
  h1 {
      font-size: 1.8em;
      line-height: 2.5;
  }

  h2 {
      font-size: 1.2em;
      line-height: 1.6;
  }


}
